In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
familias_pbf = pd.read_csv('/Users/laismeirelesalves/Estudos/projeto_final_lais_meireles/datasets_finais/df_pbf_final.csv')

In [3]:
familias_pbf.head()

,Unnamed: 0,Referência,Famílias,Valor médio do benefício,Referência_formatada
0,0,01/2018,35752,171.27,2018-01-01
1,1,02/2018,36190,171.29,2018-02-01
2,2,03/2018,36857,168.92,2018-03-01
3,3,04/2018,34411,168.97,2018-04-01
4,4,05/2018,34773,170.29,2018-05-01