In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Análise dos dados a partir das bases tratadas
Realizei o tratamento das bases de dados originais que resultaram em dois datasets principais: dataset com as informações sobre as famílias beneficiárias do PBF e dataset sobre as famílias que estão no Cadastro Único de forma geral - no recorte do munícipio de Campinas e do período de 2018 a 2023.

Neste momento, passo a trabalhar apenas com as minhas bases principais já tratadas para realizar algumas análise e fazer um merge destas tabelas de modo a conseguir chegar em um dataset único.

In [9]:
familias_pbf = pd.read_csv('/Users/laismeirelesalves/Estudos/projeto_final_lais_meireles/datasets_finais/df_pbf_final.csv')
familias_pbf

,Unnamed: 0,Referência,Famílias,Valor médio do benefício,Referência_formatada
0,0,01/2018,35752,171.27,2018-01-01
1,1,02/2018,36190,171.29,2018-02-01
2,2,03/2018,36857,168.92,2018-03-01
3,3,04/2018,34411,168.97,2018-04-01
4,4,05/2018,34773,170.29,2018-05-01
...,...,...,...,...,...
66,66,07/2023,59971,672.71,2023-07-01
67,67,08/2023,62889,677.13,2023-08-01
68,68,09/2023,63057,683.13,2023-09-01
69,69,10/2023,63929,679.51,2023-10-01
70,70,11/2023,62814,668.81,2023-11-01

In [3]:
familias_pbf.head()

,Unnamed: 0,Referência,Famílias,Valor médio do benefício,Referência_formatada
0,0,01/2018,35752,171.27,2018-01-01
1,1,02/2018,36190,171.29,2018-02-01
2,2,03/2018,36857,168.92,2018-03-01
3,3,04/2018,34411,168.97,2018-04-01
4,4,05/2018,34773,170.29,2018-05-01

In [8]:
familias_cad = pd.read_csv('/Users/laismeirelesalves/Estudos/projeto_final_lais_meireles/datasets_finais/df_cad_unico.csv')
familias_cad

,Unnamed: 0,UF,Referência,Famílias no CadUnico,Famílias elegíveis ao PBF,Famílias de baixa renda,Quantidade de famílias com renda per capita mensal até meio salário-mínimo (Pobreza + Baixa renda) inscritas no Cadastro Único,Quantidade de famílias com renda per capita mensal acima de meio salário-mínimo*** inscritas no Cadastro Único
0,51,SP,01/2018,75549,42215,18150,60365,15184
1,52,SP,02/2018,76783,42815,18388,61203,15580
2,53,SP,03/2018,73426,45746,17289,58540,14886
3,54,SP,04/2018,74650,41819,17556,59375,15275
4,55,SP,05/2018,76506,42595,17984,60579,15927
...,...,...,...,...,...,...,...,...
66,117,SP,04/2023,134633,79347,27121,106468,28165
67,118,SP,05/2023,135074,79921,27443,107364,27710
68,119,SP,09/2023,141361,67767,26593,94360,47001
69,120,SP,10/2023,142303,63321,27401,90722,51581
70,121,SP,08/2023,139708,66534,26532,93066,46642

In [11]:
df_merge = pd.merge(familias_pbf, familias_cad, on='Referência', how='right')
df_merge

,Unnamed: 0_x,Referência,Famílias,Valor médio do benefício,Referência_formatada,Unnamed: 0_y,UF,Famílias no CadUnico,Famílias elegíveis ao PBF,Famílias de baixa renda,Quantidade de famílias com renda per capita mensal até meio salário-mínimo (Pobreza + Baixa renda) inscritas no Cadastro Único,Quantidade de famílias com renda per capita mensal acima de meio salário-mínimo*** inscritas no Cadastro Único
0,0,01/2018,35752,171.27,2018-01-01,51,SP,75549,42215,18150,60365,15184
1,1,02/2018,36190,171.29,2018-02-01,52,SP,76783,42815,18388,61203,15580
2,2,03/2018,36857,168.92,2018-03-01,53,SP,73426,45746,17289,58540,14886
3,3,04/2018,34411,168.97,2018-04-01,54,SP,74650,41819,17556,59375,15275
4,4,05/2018,34773,170.29,2018-05-01,55,SP,76506,42595,17984,60579,15927
...,...,...,...,...,...,...,...,...,...,...,...,...
66,63,04/2023,59379,676.82,2023-04-01,117,SP,134633,79347,27121,106468,28165
67,64,05/2023,61872,678.93,2023-05-01,118,SP,135074,79921,27443,107364,27710
68,68,09/2023,63057,683.13,2023-09-01,119,SP,141361,67767,26593,94360,47001
69,69,10/2023,63929,679.51,2023-10-01,120,SP,142303,63321,27401,90722,51581
70,67,08/2023,62889,677.13,2023-08-01,121,SP,139708,66534,26532,93066,46642

In [14]:
df_merge_s_colunas = df_merge.drop(columns=['Unnamed: 0_x', 'Unnamed: 0_y'])
df_merge_s_colunas

,Referência,Famílias,Valor médio do benefício,Referência_formatada,UF,Famílias no CadUnico,Famílias elegíveis ao PBF,Famílias de baixa renda,Quantidade de famílias com renda per capita mensal até meio salário-mínimo (Pobreza + Baixa renda) inscritas no Cadastro Único,Quantidade de famílias com renda per capita mensal acima de meio salário-mínimo*** inscritas no Cadastro Único
0,01/2018,35752,171.27,2018-01-01,SP,75549,42215,18150,60365,15184
1,02/2018,36190,171.29,2018-02-01,SP,76783,42815,18388,61203,15580
2,03/2018,36857,168.92,2018-03-01,SP,73426,45746,17289,58540,14886
3,04/2018,34411,168.97,2018-04-01,SP,74650,41819,17556,59375,15275
4,05/2018,34773,170.29,2018-05-01,SP,76506,42595,17984,60579,15927
...,...,...,...,...,...,...,...,...,...,...
66,04/2023,59379,676.82,2023-04-01,SP,134633,79347,27121,106468,28165
67,05/2023,61872,678.93,2023-05-01,SP,135074,79921,27443,107364,27710
68,09/2023,63057,683.13,2023-09-01,SP,141361,67767,26593,94360,47001
69,10/2023,63929,679.51,2023-10-01,SP,142303,63321,27401,90722,51581
70,08/2023,62889,677.13,2023-08-01,SP,139708,66534,26532,93066,46642

In [16]:
df_merge_s_colunas_renomeado = df_merge_s_colunas.rename(columns={'Famílias':'Famílias beneficiárias'})
df_merge_s_colunas_renomeado

,Referência,Famílias beneficiárias,Valor médio do benefício,Referência_formatada,UF,Famílias no CadUnico,Famílias elegíveis ao PBF,Famílias de baixa renda,Quantidade de famílias com renda per capita mensal até meio salário-mínimo (Pobreza + Baixa renda) inscritas no Cadastro Único,Quantidade de famílias com renda per capita mensal acima de meio salário-mínimo*** inscritas no Cadastro Único
0,01/2018,35752,171.27,2018-01-01,SP,75549,42215,18150,60365,15184
1,02/2018,36190,171.29,2018-02-01,SP,76783,42815,18388,61203,15580
2,03/2018,36857,168.92,2018-03-01,SP,73426,45746,17289,58540,14886
3,04/2018,34411,168.97,2018-04-01,SP,74650,41819,17556,59375,15275
4,05/2018,34773,170.29,2018-05-01,SP,76506,42595,17984,60579,15927
...,...,...,...,...,...,...,...,...,...,...
66,04/2023,59379,676.82,2023-04-01,SP,134633,79347,27121,106468,28165
67,05/2023,61872,678.93,2023-05-01,SP,135074,79921,27443,107364,27710
68,09/2023,63057,683.13,2023-09-01,SP,141361,67767,26593,94360,47001
69,10/2023,63929,679.51,2023-10-01,SP,142303,63321,27401,90722,51581
70,08/2023,62889,677.13,2023-08-01,SP,139708,66534,26532,93066,46642

In [17]:
df_consolidado = df_merge_s_colunas_renomeado.to_csv('/Users/laismeirelesalves/Estudos/projeto_final_lais_meireles/datasets_finais/df_consolidado.csv')